body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    z-index: 0;
}
header{
    z-index: 5;
}
#Topdiv{
    position: fixed;
    top: -5px;
    left: -5px;
    width: 105%;
    height: 110px;
    background-color: #bae8e8;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 101%;
}
#Topdiv a{
    width: 350px;
    padding: 5px 0 0 5px;
}
#Topdiv a img{
    position: relative;
    width:100%;
    height: 100px;
}
nav{
    border:none;
    position: fixed;
    width: 105%;
    height: 62px;
    top: 105px;
    left: -10px;
    background-color: #0569bb;
    z-index: 4;
    padding-left: 0px;
}
@font-face {
    font-family: Montserrat;
    src: url('../Projects/fonts/Montserrat-Light.ttf');
}

header ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Montserrat;
    display: flex;
    
}
header ul li{
    float: left;
    background-color: #0569bb;
    width:150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    margin-left: 10px;
}
nav ul li:first-child{
    display: none;
}
header ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
header ul li a:hover {
   background-color: black;
}
header ul li ul li{
    display: none;
}
header ul li:hover ul li {
    display: block;
}
@keyframes slider{
    0%{top: 0px;filter: brightness(50%);}
    4%{top: -555px;filter: brightness(1);}
    14.28%{top: -555px;filter: brightness(1);}
    18.28%{top: -1110px;filter: brightness(50%);}
    28.57%{top: -1110px;filter: brightness(1);}
    29%{filter: brightness(50%);}
    32.57%{top: -1665px;filter: brightness(1);}
    42.85%{top: -1665px;filter: brightness(1);}
    42.86%{filter: brightness(50%);}
    46.85%{top: -2220px;filter: brightness(1);}
    57.13%{top: -2220px;filter: brightness(1);}
    57.14%{filter: brightness(50%);}
    61.13%{top: -2775px;}
    71.41%{top: -2775px;}
    75.41%{top: -3330px;}
    85.69%{top: -3330px;}
    89.69%{top: -3885px;}
    100%  {top: -3885px;}
}
.slider{
    width: 100%;
    height: 70vh;
    margin-top: 165px;
    left: 0px;
    border: none;
    z-index: -1;
    overflow: hidden;
    padding: 0;
    
}
.imgslider{
    position: relative;
    width: 100%;
    height: 555px;
    animation: slider 180s ease-in-out  0s infinite normal forwards;
    margin-bottom: -5px;
    border: none;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    z-index: 0;
    background-color: #142d4c;
    min-height: 600px;
    padding-top: 100px;
}
.container h1{
    color: #142d4c;
    font-size: 40px;
    position: absolute;
    top: 10px;
    width: 250px;
    height: auto;
    background-color: #bae8e8;
    text-align: center;
    border-radius: 15px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.container:hover h1{
    width:850px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
}
.card{
    background:white;
    border-radius: 15px;
    width: 270px;
    height: 480px;
    margin: 10px;
    z-index: inherit;
    transition: all 1s ease;
}
.card-img{
    background-color: aquamarine;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
    z-index: inherit;
}

.img1{
    background-image:url('../Images/alexander.jpg') ;
}
.img2{
    background-image:url('../Images/aziz.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    background-image:url('../Images/Jamie.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px 50px;
    position: relative;
    top: 0px;
    border-radius: 10px;
}
.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


.container-footer {
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    width: 100%;
}
.footer-col{
    width: 15%;
    padding: 0 15px;
}
.soci{
    width: 20%;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: inherit;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;

}
.footer-col .Social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 60px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    text-decoration: none;
    
}
.footer-col .Social a:hover{
    color: #24262b;
    background-color: white;
}
.footer-col .Social a i{
    margin-top: 30%;
}
.Local{
    width: 20%;
}
@media(max-width:1040px){
    .footer-col.Local{
        width: 100%;
        min-width: none;
    }
    iframe{
        width: 100%;
        height: 200px;
    }
    .footer-col{
        width: 20%;
    }
    
}
@media(max-width:767px){    
    nav ul{
        height: 60px;
        overflow: hidden;
        width: 180px;
        flex-direction: column;
    }
    nav ul:hover{
        overflow: none;
        height: 420px;
        width: 100%;
        transition-property: height;
        transition-duration: .5s;
        transition-timing-function: ease-in;
    }
    nav ul li:not(:first-child){
        width: 100%;
    }
    nav ul li:first-child{
        display: block;
    }
    nav ul li:first-child img{
        width: 50%;
        height: 100%;
        margin-left: -50px;
    }
    nav ul li:first-child img:hover,nav ul li:first-child img:focus{
        cursor: pointer;
    }
    .footer-col,.footer-col.Local{
        width:50%;
        margin-bottom: 30px;
        margin-left: 20%;
    }
    iframe{
        width: 100%;
        
    }
    .footer-col h4{
        text-align: center;
    }
    .footer-col h4::before{
        width: 100%;
    }
    .footer-col ul{
        padding-left: 0;
    }
    .footer-col ul li{
        text-align: center;
        width: 100%;
    }
    .footer-col:not(:nth-last-child(2),:last-child) ul li a:hover{
        font-size: 20px;
        padding-left: 0;
    }
}

@media(max-width:574px){
    .footer-col,.footer-col.Local{
        width:100%;
        margin-left: 0;
    }
    iframe{
        width: 100;
    }
}

iframe{
    width: 100%;
    height: 180px;
}
